.b{
    background-color: black;
}

.a{
    background-color: antiquewhite;
}

.cont{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px;
}

.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}