

body{
    background-color: rgb(200, 174, 125);
    margin: 0px 40px 40px 40px;

}

.cont{
background-color: rgb(170, 139, 86);
border-radius: 0% 0% 30% 30%;
}



.srednij{
    background-color: rgb(78, 108, 80);
    border-style: dotted;
    border-radius:0 0 20px 20px;
    margin: 0;
    border-top: none;

}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}
.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}
.fs-2 {
    font-size: 2rem!important;
}

.temnee{
    background-color: rgb(57, 81, 68);
}


.none{
    margin: 0;
}

.spisok{
    padding: 20px;
    margin: 20px;
    border-radius: 20%;
    border-style: dotted;
    border-width: 5px;
    width: fit-content;
    background-color: rgb(118, 88, 39);

}


ul {
    list-style-type: square;
    font-family: 'Alegreya', serif;
    font-size: 20px;
   }
   
.rasp{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: start;
justify-content: center;
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: rgb(78, 108, 80);
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: rgb(240, 235, 206);
    --bs-nav-link-hover-color: rgb(57, 81, 68);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navss {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color:rgb(57, 81, 68);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

.bg-gradient {
    background-image:rgb(240, 235, 206)!important;
}

.text-bg-primary {
color:rgb(240, 235, 206) ;
    background-color: rgb(57, 81, 68) !important;
}

p{
    font-family: 'Alegreya', serif;
    font-size: 20px;

}

h3{
       font-family: 'Amatic SC', sans-serif;
    }


    
#ton1{
    background-color: rgb(67, 83, 52);
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    width: 100px;
    height: 100px;
    margin: 5px;
    animation: anim-ramka-1 17s infinite;
}

#ton2{
    background-color: rgb(137, 129, 33);
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    width: 100px;
    height: 100px;
    margin: 5px;
    animation: anim-ramka-1 13s infinite;
}

#ton3{
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    background-color: rgb(83, 82, 4);
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    width: 100px;
    height: 100px;
    margin: 5px;
    animation: anim-ramka-1 9s infinite;
}

#tonrasp{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: start;
justify-content: center;
}

@keyframes anim-ramka-1 {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;

    }
    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    }
    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}


#izglt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(118, 88, 39);
}