* {
    margin: 0;
}

.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont{
    display: grid;
    grid-template-rows: 415px 130px 156px 20px;
    grid-template-columns: 320px 198px 153px 50px;
    column-gap: 9px;
    row-gap: 9px;
    background-color: #000;
    justify-content: center;
}

.frst{
    background-color: #E72F24;
}


.wht1{
    grid-column: span 3;
    background-color: #F0F1EC;
}

.wht2{
    grid-row: span 2;
    background-color: #F0F1EC;

}

.wht3{
    grid-column: span 2;
    grid-row: span 2;
    background-color: #F0F1EC;

}

.wht4{
    grid-row: span 2;
    background-color: #F0F1EC;

}

.wht5{
    background-color: #F0F1EC;
    grid-row: span 3;

}

.bl{
    background-color: #004592;
    border-bottom: 10px solid black;
}

.yel{
    background-color: #F9D01E;
    grid-row: span 2;
}

.b{
    background-color: #232629;
    grid-row: span 2;
}